/*Let's make sure that the dimensions of any box includes its border and padding, this gives us an easy way of sizing our elements*/
* {
    box-sizing: border-box;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
/* .column:nth-child(1){

}
.column:nth-child(2){
    
}
.column:nth-child(3){
    
}
.column:nth-child(4){
    
} */
.column{
    flex: 1;
    min-width: 300px;
}
img{
    width: 100%;
}